* {
  box-sizing: border-box;
}

.wrapper {
  margin: 0 0 25vh;
  line-height: 1.6;
}

h1 {
  background: yellow;
  font-size: 5rem;
  text-align: center;
  font-family: "Staatliches", cursive;
  margin: 0 0 5vh;
  padding: 5vh 0;
  small {
    display: block;
    font-size: 1.5rem;
    opacity: 0.6;
    line-height: 1;
    letter-spacing: 2px;
  }
}
.box {
  width: 70%;
  max-width: 600px;
  margin: 0 auto;
}

.box-content {
  background: white;
  padding: 2em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

.hello-there {
  position: sticky;
  bottom: 16px;
  z-index: 11;
  background: red;
  padding: 1em;
  margin: 0 auto;
  width: 75%;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  text-align: center;
}
